<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suwen.iyouxiwang.dao.GamesMapper" >
  <resultMap id="BaseResultMap" type="com.suwen.iyouxiwang.domain.Games" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_logo" property="gameLogo" jdbcType="VARCHAR" />
    <result column="game_url" property="gameUrl" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="column_type" property="columnType" jdbcType="INTEGER" />
    <result column="game_type" property="gameType" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="advertiser_id" property="advertiserId" jdbcType="INTEGER" />
    <result column="seq_no" property="seqNo" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="GamesViewResultMap" type="com.suwen.iyouxiwang.domain.GamesView" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="game_logo" property="gameLogo" jdbcType="VARCHAR" />
    <result column="game_url" property="gameUrl" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, game_name, game_logo, game_url, intro, status, column_type, game_type, type, start_date, end_date,
    remark, advertiser_id, seq_no, create_time, create_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_games
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStatusAndType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_games
    where end_date is not null
    <if test="status!=null">
      AND `status` = #{status,jdbcType=INTEGER}
    </if>
    <if test="type!=null">
      AND `type` = #{type,jdbcType=INTEGER}
    </if>
  </select>
  <select id="findGameViews" resultMap="GamesViewResultMap">
    select
        id, game_name, game_logo, game_url, intro
    from t_games
    where `status` = 0
    <if test="keyword!=null">
      AND game_name like #{keyword,jdbcType=VARCHAR}
    </if>
    <if test="type!=null">
      AND game_type = #{type,jdbcType=INTEGER}
    </if>
    order by seq_no asc
    <if test="pageNo!=null">
      limit ${pageNo},${pageSize}
    </if>
  </select>
  <select id="findNewGameViews" resultMap="GamesViewResultMap">
    select
        id, game_name, game_logo, game_url, intro
    from t_games
    where `status` = 0
    order by create_time desc
    limit 0,10
  </select>
  <select id="findGameViewsCount" resultType="java.lang.Integer">
    select
        count(*)
    from t_games
    where `status` = 0
    <if test="keyword!=null">
      AND game_name like #{keyword,jdbcType=VARCHAR}
    </if>
    <if test="type!=null">
      AND game_type = #{type,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_games
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.suwen.iyouxiwang.domain.Games" >
    insert into t_games
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="gameLogo != null" >
        game_logo,
      </if>
      <if test="gameUrl != null" >
        game_url,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="columnType != null" >
        column_type,
      </if>
      <if test="gameType != null" >
        game_type,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="advertiserId != null" >
        advertiser_id,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameLogo != null" >
        #{gameLogo,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="columnType != null" >
        #{columnType,jdbcType=INTEGER},
      </if>
      <if test="gameType != null" >
        #{gameType,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="advertiserId != null" >
        #{advertiserId,jdbcType=INTEGER},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suwen.iyouxiwang.domain.Games" >
    update t_games
    <set >
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="gameLogo != null" >
        game_logo = #{gameLogo,jdbcType=VARCHAR},
      </if>
      <if test="gameUrl != null" >
        game_url = #{gameUrl,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="columnType != null" >
        column_type = #{columnType,jdbcType=INTEGER},
      </if>
      <if test="gameType != null" >
        game_type = #{gameType,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="advertiserId != null" >
        advertiser_id = #{advertiserId,jdbcType=INTEGER},
      </if>
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>